@{
    ViewData["Title"] = "Retro Nedir?";
}
@using Astro4.Models;
@model List<Burc>


<section id="hero">
    <div id="heroCarousel" data-bs-interval="5000" class="carousel slide carousel-fade" data-bs-ride="carousel">

        <div class="carousel-inner" role="listbox">

            <!-- Slide 1 -->
            <div class="carousel-item active" style="background-image: url('https://media.istockphoto.com/id/1417193727/photo/astrological-zodiac-signs-inside-of-horoscope-circle-astrology-knowledge-of-stars-in-the-sky.jpg?b=1&s=170667a&w=0&k=20&c=26xz3OhRSdR-pARB9ydGMaqFA5YSAIK2L3QRp88EiSI=');">
                <div class="carousel-container">
                    <div class="carousel-content animate__animated animate__fadeInUp">
                        <h2><span>AstoroGo </span></h2>
                        <p></p>
                        <div class="text-center"><a href="" class="btn-get-started">Daha Fazlası İçin Tıkla</a></div>
                    </div>
                </div>
            </div>

            <!-- Slide 2 -->
            <div class="carousel-item" style="background-image: url('https://wallpaperaccess.com/full/1291888.jpg');">
                <div class="carousel-container">
                    <div class="carousel-content animate__animated animate__fadeInUp">
                        <h2>Ruh Eşin Kim?</h2>
                        <p>Hayatınıza giren kişi, doğru kişi mi? Beyaz atlı prens, ruh eşi ya da ruh ikizi dedikleri kişiyi, gördüğünüz an hemen hisseder misiniz, yoksa bunu anlamanın bir yolu var mı? İşte milyonlarca kişi içinden ‘o’ kişiyi anlamanız için işaretler...</p>
                        <div class="text-center"><a class="btn-get-started" asp-area="" asp-controller="Ruhesi" asp-action="Index">Daha Fazlası İçin Tıkla</a></div>

                    </div>
                </div>
            </div>

            <!-- Slide 3 -->
            <div class="carousel-item" style="background-image: url('http://www.primeakademi.com/resim.php?p=data/icerik/pQ4mLdJy82jEYvr6.jpeg');">
                <div class="carousel-container">
                    <div class="carousel-content animate__animated animate__fadeInUp">
                        <h2>Retro Nedir?</h2>
                        <p>Retro, gezegenlerin geri hareket edişi anlamında kullanılır. Modern astrolojide, geçmiş istatistiklerin de ışığı altında, Retroların önemi büyüktür.</p>
                        <div class="text-center"><a class="nav-link text-light" asp-area="" asp-controller="Retro" asp-action="Index">Daha Fazlası İçin Tıkla</a></div>
                    </div>
                </div>
            </div>

        </div>

        <a class="carousel-control-prev" href="#heroCarousel" role="button" data-bs-slide="prev">
            <span class="carousel-control-prev-icon bx bx-left-arrow" aria-hidden="true"></span>
        </a>

        <a class="carousel-control-next" href="#heroCarousel" role="button" data-bs-slide="next">
            <span class="carousel-control-next-icon bx bx-right-arrow" aria-hidden="true"></span>
        </a>

        <ol class="carousel-indicators" id="hero-carousel-indicators"></ol>

    </div>
    </section>
    <div>

        <h4>Retro Sayfası</h4>
    </div>