
<section id="hero">
    <div id="heroCarousel" data-bs-interval="5000" class="carousel slide carousel-fade" data-bs-ride="carousel">

        <div class="carousel-inner" role="listbox">

            <!-- Slide 1 -->
            <div class="carousel-item active" style="background-image: url('https://media.istockphoto.com/id/1417193727/photo/astrological-zodiac-signs-inside-of-horoscope-circle-astrology-knowledge-of-stars-in-the-sky.jpg?b=1&s=170667a&w=0&k=20&c=26xz3OhRSdR-pARB9ydGMaqFA5YSAIK2L3QRp88EiSI=');">
                <div class="carousel-container">
                    <div class="carousel-content animate__animated animate__fadeInUp">
                        <h2><span>AstoroGo </span></h2>
                        <p></p>
                        <div class="text-center"><a href="" class="btn-get-started">Daha Fazlası İçin Tıkla</a></div>
                    </div>
                </div>
            </div>

            <!-- Slide 2 -->
            <div class="carousel-item" style="background-image: url('https://wallpaperaccess.com/full/1291888.jpg');">
                <div class="carousel-container">
                    <div class="carousel-content animate__animated animate__fadeInUp">
                        <h2>Ruh Eşin Kim?</h2>
                        <p>Hayatınıza giren kişi, doğru kişi mi? Beyaz atlı prens, ruh eşi ya da ruh ikizi dedikleri kişiyi, gördüğünüz an hemen hisseder misiniz, yoksa bunu anlamanın bir yolu var mı? İşte milyonlarca kişi içinden ‘o’ kişiyi anlamanız için işaretler...</p>
                        <div class="text-center"><a class="btn-get-started" asp-area="" asp-controller="Ruhesi" asp-action="Index">Daha Fazlası İçin Tıkla</a></div>

                    </div>
                </div>
            </div>

            <!-- Slide 3 -->
            <div class="carousel-item" style="background-image: url('http://www.primeakademi.com/resim.php?p=data/icerik/pQ4mLdJy82jEYvr6.jpeg');">
                <div class="carousel-container">
                    <div class="carousel-content animate__animated animate__fadeInUp">
                        <h2>Retro Nedir?</h2>
                        <p>Retro, gezegenlerin geri hareket edişi anlamında kullanılır. Modern astrolojide, geçmiş istatistiklerin de ışığı altında, Retroların önemi büyüktür.</p>
                        <div class="text-center"><a class="nav-link text-light" asp-area="" asp-controller="Retro" asp-action="Index">Daha Fazlası İçin Tıkla</a></div>
                    </div>
                </div>
            </div>

        </div>

        <a class="carousel-control-prev" href="#heroCarousel" role="button" data-bs-slide="prev">
            <span class="carousel-control-prev-icon bx bx-left-arrow" aria-hidden="true"></span>
        </a>

        <a class="carousel-control-next" href="#heroCarousel" role="button" data-bs-slide="next">
            <span class="carousel-control-next-icon bx bx-right-arrow" aria-hidden="true"></span>
        </a>

        <ol class="carousel-indicators" id="hero-carousel-indicators"></ol>

    </div>
    </section>
    <br />
    <br />
  <div>
        <ul>
            <li><h4>1. Koç – Aslan, Yay, Terazi</h4></li>
        <li><img src="https://listelist.com/wp-content/uploads/2020/12/koc%CC%A7.jpg" height="400" width="800" /></li>
        <li>Koç burcu tutkulu kişiliğiyle bilinir. Bir konuda karar verdiklerinde kimse onları durduramaz. Bu nedenle özgürlüğe önem veren burçlarla birlikte olmalıdır. Ateş grubundan Aslan ya da Yay, sizin için harika bir partner olabilir. Astrolog Clarisse Monahan’a göre Koç ve Aslan, harika bir çift olabilir zira her ikisi de istekleri konusunda nettir. Koç ve Yay ise harika bir ekip olabilir. Her iki burç da maceralara atılmaya bayılır. Koç’un zıt burcu olan Terazi ise stres anlarında dengede kalmanıza yardımcı olur. Tam anlamıyla bir ruh eşi!</li>
        </ul>
    <ul>
        <li><h4>2. Boğa – Oğlak, Balık, Akrep</h4></li>
        <li><img src="https://listelist.com/wp-content/uploads/2020/12/bog-burcu-listelist.jpg" height="400" width="800" /></li>
        <li>Boğalar, yorulmadıkları istikrarlı bağlar kurmak isterler. Dolayısıyla Oğlak onlar için harika bir tercih olabilir. Her iki burç da ilişkilerinde maddi ve manevi olarak güvende hissetmek ister. Balık ise yaratıcı yönünüzü harekete geçirdiği için sizi kendine aşık edebilir. Aynı zamanda romantik ilişkide arzu ettiğiniz sevgiyi de fazlasıyla verecektir. Akrepler derin bağlar kurabileceğiniz kişilerdir. Ek olarak Boğa’nın zıt burcu olduğu için kendinizi Akreplere çekiliyormuş gibi hissedebilirsiniz! 😊</li>
    </ul>
    <ul>
        <li><h4>3. İkizler – Terazi, Kova, Koç</h4></li>
        <li><img src="https://listelist.com/wp-content/uploads/2020/12/ikizler-burcu-listelist.jpg" height="400" width="800" /></li>
        <li>İkizler, keskin zekalarına ayak uydurabilecek bir partner ararlar. Hava burçları konuşkan olma eğiliminde olduğu için Terazi ve Kova’ya ilgi duyabilirler. Terazi ve İkizler, en çekici ve girişken burçlar arasındadır. Dolayısıyla birbirlerine çekilmeleri de kaçınılmaz! 😊 Kovalar, yavaş hareket ederek sabrınızı test etmeye çalışsa da ilişkide ihtiyaç duyduğunuz şey tam da bu olabilir. İkizler ve Kova, çok değerli sohbetler yapabilir. Ek olarak cinsel çekimleri de güçlüdür. İkizler ilişkilerinde özgür olmak istediğinden Koç ile de uyumludur. Her iki burç da maceralara ilgi duyduğundan birbirlerinin ayaklarını yerden kesebilir.</li>
    </ul>
    <ul>
        <li><h4>4. Yengeç – Akrep, Boğa, Oğlak</h4></li>
        <li><img src="https://listelist.com/wp-content/uploads/2020/12/yengec-burcu-listelist.jpg" height="400" width="800" /></li>
        <li>Yengeç, duygusal olarak güvende hissetmediği sürece bir ilişkiye başlamaz. Zira sevdiğinde derinden sever! 😊 Enerjisi yüksek bir burç olan Akrep, Yengeç için harika bir partner olabilir. Her iki burç da ilişkisine özenle yaklaşır. Boğalar ise size aradığınız istikrarı sunabilir. Boğa ve Yengeç, en iyisi için uğraşarak ortaya harika bir birliktelik çıkarır. Her iki burcun da evcimen olması büyük bir artı! Yengeç’in zıt burcu olan Oğlak ise hayatınıza denge getirmek için harikadır. Her iki burç da hedef odaklı olduğu için birlikte güzel şeyler başarabilir.</li>
    </ul>
    <ul>
        <li><h4>5. Aslan – Koç, Yay, Terazi</h4></li>
        <li><img src="https://listelist.com/wp-content/uploads/2020/12/aslan-burcu-listelist.jpg" height="400" width="800" /></li>
        <li>Aslan, hem duygularıyla hareket eder hem de oldukça tutkuludur. Egoları güçlü olduğu için kendisine çok güvenir, dikkatlerin üzerinde olmasını da sever. Kimileri için düşündürücü olabilir ancak Koç ve Boğa son derece uyumludur. Koç, Boğa’ya ayak uyduracak güvene, karizmaya ve dürtüye sahiptir. İlişkileri romantik sürprizlerle doludur. Yay da bir o kadar başarılı bir eşleşme olabilir. Zira her iki burç da aktif ve macera dolu bir yaşamı arzular. Bir arada olduklarında bu uyumu kendileri de hissedebilirler. Terazi kendine has bir tarza sahip olduğu için Aslan’ı etkileyebilir. Hem Aslan hem de Terazi bağlılığa önem verir. Dolayısıyla ilişkileri daima uzun sürer.</li>
    </ul>
    <ul>
        <li><h4>6. Başak – Boğa, Balık, Oğlak</h4></li>
        <li><img src="https://listelist.com/wp-content/uploads/2020/12/basak-burcu-listelist.jpg" height="400" width="800" /></li>
        <li>Başak, son derece analitik bir karaktere sahiptir. Dolayısıyla endişelerini alıp götürecek bir partner arar. Boğa hayata dengeli ve istikrarlı yaklaştığı için harika bir partner olabilir. Her iki burç da mantıklı ilişkilere çekilir. Risk almayı sevmezler ve ilişkilerine dikkatle yaklaşırlar. Bir kere bağlandıklarında ömür boyu beraber kalma ihtimalleri oldukça yüksek! 😊 Oğlak da Başak için iyi bir eş olabilir. Başak, Oğlak’ın hırsını ve karakterini takdir eder. Birbirleriyle uyum içindedirler, dolayısıyla harika işler başarırlar. Balık ise Başak ile bir araya geldiği anda kendini hissettirir. Zıt burçlar oldukları için birbirlerini çekerler. Her ikisi de ilişki odaklıdır dolayısıyla uzun yıllar süren bir ilişki sürdürebilirler.</li>
    </ul>
    <ul>
        <li><h4>7. Terazi – Kova, İkizler, Yay</h4></li>
        <li><img src="https://listelist.com/wp-content/uploads/2020/12/terazi-burcu-listelist.jpg" height="400" width="800" /></li>
        <li>Terazi, oldukça dengeli bir burç olsa da ilişkide özgür olmak ister. Yeni şeylere meraklıdır ve öğrenmekten hoşlanır. Bu nedenle İkizler ile harika anlaşırlar. Sık sık fikir paylaştıkları ve derin bağlar kurdukları bir ilişkiye sahip olurlar. Kova ve Terazi de son derece uyumludur. Her ikisi de tutkuludur ve daha adil bir dünya için savaşır. Ortak ilgi alanları birlikte bir gelecek inşa etmelerini kolaylaştırır. Yay da Terazi’nin ruh eşi olabilecek potansiyele sahiptir. Zira her ikisi de denge arar ve dramadan kaçınır. Yay, Terazinin biraz daha spontane olmasına yardımcı olurken Terazi ise Yay’ı analitik düşünmeye iter.</li>
    </ul>
    <ul>
        <li><h4>8. Akrep – Yengeç, Oğlak, Boğa</h4></li>
        <li><img src="https://listelist.com/wp-content/uploads/2020/12/akrep-burcu-listelist.jpg" height="400" width="800" /></li>
        <li>Akrep, keskin bir sezgiye sahiptir. Dolayısıyla ruh eşini bulduğunda bunu hemen fark eder. Bir başka su burcu olan Yengeç, Akrep için harika bir eş olabilir. Zira her ikisi de ilişkilerinde duygusal olarak güvende hissetmek ister. Bu nedenle yavaş ve temkinli hareket eder. Oğlak da iyi bir partner olabilir çünkü dengeli ve istikrarlıdır. Her iki burç da hedeflerine kitlenerek kendilerini geliştirmeye odaklanır. Akrep’in zıt burcu olan Boğa ise cinsel olarak harika bir uyum sunar. Her iki burç da oldukça şehvetlidir. Dolayısıyla tutkulu bir ilişkiye sahip olurlar.</li>
    </ul>
  </div>
   